<a href="https://colab.research.google.com/github/ShKSGithub/Data-Analysis-with-Python/blob/main/Chapter_2/My_DA_Ch_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mount GDrive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Path for .CSV file in google drive
%cd /content/gdrive/My Drive/Colab Notebooks/MOOCs/Data Analysis with Python/Chapter_2/

/content/gdrive/My Drive/Colab Notebooks/MOOCs/Data Analysis with Python/Chapter_2

# **Chapter-2**
##   Topic 2.1

In [ ]:
# Import pandas
import pandas as pd

# Read 'Data2.csv' into a DataFrame: silver
silver=pd.read_csv('Data2.csv')

# Read 'Data3.csv' into a DataFrame: gold
gold=pd.read_csv('Data3.csv')

# Print the first five rows of gold
print('First five rows of gold:\n',gold.head())

First five rows of gold:
   Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [ ]:
# Create the list of file names: filenames
filenames=['Data2.csv','Data3.csv']

# Create the list of two DataFrames: dataframes
dataframes=[]
for i in filenames:
  dataframes.append(pd.read_csv(i))

# Print top 5 rows of 1st DataFrame in dataframes
print('First five rows of 1st dataframe:\n',dataframes[1].head())

First five rows of 1st dataframe:
   Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [ ]:
'''
Make a copy of gold: medals 
(Without use of copy(), medal refer to actual contents and hence modification in refered 
content can change actual content.)
'''
medals=gold.copy()

# Create list of new column labels: new_labels
new_labels=['NOC','Country','Gold','Date']

# Rename the columns of medals using new_labels
medals.columns=new_labels

# Add columns 'silver' & 'gold' to medals
medals['silver_2']=gold['silver']
medals['gold_2']=gold['gold']

# Print the head of medals
print("Print the copy of gold named as 'medal' with new columns:\n",medals.head())

Print the copy of gold named as 'medal' with new columns:
       NOC  Country  Gold        Date  silver_2  gold_2
0   Qatar      200     0  2014-01-01         0     200
1  Turkey      400     1  2015-02-02         1     400
2   Dubai      600     2  2016-03-03         2     600
3  Europe      800     3  2017-04-04         3     800
4      UK        0     4  3017-05-05         4       0

In [ ]:
# Read 'Data3.csv' into a DataFrame with index country
file1=pd.read_csv('Data3.csv',index_col='Country')

# Print the head of file1
print("File 1 with index Country:\n",file1.head())

print('------------------------------------------------------------------------------')
# Sort the index of file1 in alphabetical order into file2
file2=file1.sort_index()

# Print the head of file2
print("File 2 with sorted index Country (Ascending order):\n",file2.head())

print('------------------------------------------------------------------------------')
# Sort the index of file1 in reverse alphabetical order into file3
file3=file1.sort_index(ascending=False)

# Print the head of file3
print("File 3 with sorted index Country (Descending order):\n",file3.head())

print('------------------------------------------------------------------------------')
# Sort file1 numerically using the values of 'gold' into file4
file4=file1.sort_values('gold')

# Print the head of file4
print("File 4 with sorted values of gold:\n",file4.head())

File 1 with index Country:
          gold  silver        date
Country
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
UK          0       4  3017-05-05
------------------------------------------------------------------------------
File 2 with sorted index Country (Ascending order):
          gold  silver        date
Country
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
UK          0       4  3017-05-05
------------------------------------------------------------------------------
File 3 with sorted index Country (Descending order):
          gold  silver        date
Country
UK          0       4  3017-05-05
Turkey    400       1  2015-02-02
Qatar     200       0  2014-01-01
Europe    800       3  2017-04-04
Dubai     600       2  2016-03-03
------------------------------------------------------------------------------
File 4 with sorted values of gold:
          gold  silver        date
Country
UK          0       4  3017-05-05
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04

In [ ]:
file1

         gold  silver        date
Country
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
UK          0       4  3017-05-05

In [ ]:
file1=pd.read_csv('Data2.csv',index_col='Country')
# Print shape of file
print('Shape of file:\n',file1.shape)

# Drop rows with null counts in file
file5=file1.dropna()

print('------------------------------------------------------------------------------')
# Print shape of file after dropping the rows
print("Shape of file after dropping null values:\n",file5.shape)
file5

Shape of file:
 (11, 4)
------------------------------------------------------------------------------
Shape of file after dropping null values:
 (9, 4)

         cpc  drive_right Purchased   pop
Country
France    44         True        No  10.0
Spain     27        False       Yes  20.0
Germany   30         True        No  30.0
Spain     38        False        No  20.0
Germany   40         True       Yes  30.0
France    35        False       Yes  10.0
China     52         True        No  80.0
India     48         True       Yes  60.0
America   45         True        No  40.0

In [ ]:
# Read Data3 file with index country
file6=pd.read_csv('Data3.csv',index_col='Country')
file6

         gold  silver        date
Country
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
UK          0       4  3017-05-05

In [ ]:
# Extract selected columns from file as new DataFrame: file7
file7=file6[['gold','silver']]


# Convert file7 to file8 after arithmetic manipulation
file8=(file7 - 32)  * 5/9

# Rename 'gold' in column names with 'silver': file8
file8.columns=file8.columns.str.replace('gold','silver')

# Print first 5 rows of file8
print("File 8 after replacement of column names:\n",file8.head())

File 8 after replacement of column names:
              silver     silver
Country
Qatar     93.333333 -17.777778
Turkey   204.444444 -17.222222
Dubai    315.555556 -16.666667
Europe   426.666667 -16.111111
UK       -17.777778 -15.555556

In [ ]:
# Read 'Data3.csv' into a DataFrame: gdp
# Parse dates= true means to edit the date object
gdp=pd.read_csv('Data3.csv',parse_dates=True,index_col='date')

print("Data of gdp with index date:\n",gdp)

print('------------------------------------------------------------------------------')
# Slice all the gdp data from 2014 onward: post_2014
post_2014=gdp.loc['2015':]

# Print the last 2 rows of post_2014
print("Data showing years onwards to 2014:\n",post_2014.tail(2))

Data of gdp with index date:
            Country  gold  silver
date
2014-01-01   Qatar   200       0
2015-02-02  Turkey   400       1
2016-03-03   Dubai   600       2
2017-04-04  Europe   800       3
3017-05-05      UK     0       4
------------------------------------------------------------------------------
Data showing years onwards to 2014:
            Country  gold  silver
date
2017-04-04  Europe   800       3
3017-05-05      UK     0       4

In [ ]:
# Read 'Data3.csv' into a DataFrame: sp500 with parse_date=True and index date
sp500=pd.read_csv('Data3.csv',  parse_dates=True, index_col='date')

# Subset 'gold' & 'Silver' columns from sp500: dollars
dollars=sp500[['gold','silver']]

# Print the head of dollars
print(dollars.head())

            gold  silver
date
2014-01-01   200       0
2015-02-02   400       1
2016-03-03   600       2
2017-04-04   800       3
3017-05-05     0       4

# **Chapter-2**
#  Topic 2.2

In [ ]:
# Import pandas
import pandas as pd

# Read both files Data2 and Data3
data_2=pd.read_csv('Data2.csv')
data_3=pd.read_csv('Data3.csv')
print("Data2 csv file:\n",data_2)
print('------------------------------------------------------------------------------')
print("Data3 csv file:\n",data_3)

Data2 csv file:
      Country  cpc  drive_right Purchased   pop
0     France   44         True        No  10.0
1      Spain   27        False       Yes  20.0
2    Germany   30         True        No  30.0
3      Spain   38        False        No  20.0
4    Germany   40         True       Yes  30.0
5     France   35        False       Yes  10.0
6      China   52         True        No  80.0
7      India   48         True       Yes  60.0
8    America   45         True        No  40.0
9     Canada   12        False       Yes   NaN
10  Pakistan   10         True       Yes   NaN
------------------------------------------------------------------------------
Data3 csv file:
   Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [ ]:
# Extract the 'cpc' column from data-2:cpc_data
cpc_data=data_2['cpc']

# Extract the 'gold' column from data_3: gold_data
gold_data=data_3['gold']

# Append gold_data to cpc_data: quarter1
quarter1=cpc_data.append(gold_data)

# Compute & print total sum in quarter1
print(quarter1.sum())
quarter1

2381

0      44
1      27
2      30
3      38
4      40
5      35
6      52
7      48
8      45
9      12
10     10
0     200
1     400
2     600
3     800
4       0
dtype: int64

In [ ]:
# Initialize empty list: units
units=[]

# Append the columns into list (named as units)
for i in [cpc_data,gold_data]:
  units.append(i)

print("List of Units (Append of both column):\n",units)

print('------------------------------------------------------------------------------')
# Concatenate the list (row wise): quarter1
quarter1=pd.concat(units,axis='rows')
print("Concatenate the list (row wise):\n",quarter1)

print('------------------------------------------------------------------------------')
# Concatenate the list (column wise): quarter2
quarter2=pd.concat(units,axis='columns')
print("Concatenate the list (column wise):\n",quarter2)

List of Units (Append of both column):
 [0     44
1     27
2     30
3     38
4     40
5     35
6     52
7     48
8     45
9     12
10    10
Name: cpc, dtype: int64, 0    200
1    400
2    600
3    800
4      0
Name: gold, dtype: int64]
------------------------------------------------------------------------------
Concatenate the list (row wise):
 0      44
1      27
2      30
3      38
4      40
5      35
6      52
7      48
8      45
9      12
10     10
0     200
1     400
2     600
3     800
4       0
dtype: int64
------------------------------------------------------------------------------
Concatenate the list (column wise):
     cpc   gold
0    44  200.0
1    27  400.0
2    30  600.0
3    38  800.0
4    40    0.0
5    35    NaN
6    52    NaN
7    48    NaN
8    45    NaN
9    12    NaN
10   10    NaN

In [ ]:
data_2

     Country  cpc  drive_right Purchased   pop
0     France   44         True        No  10.0
1      Spain   27        False       Yes  20.0
2    Germany   30         True        No  30.0
3      Spain   38        False        No  20.0
4    Germany   40         True       Yes  30.0
5     France   35        False       Yes  10.0
6      China   52         True        No  80.0
7      India   48         True       Yes  60.0
8    America   45         True        No  40.0
9     Canada   12        False       Yes   NaN
10  Pakistan   10         True       Yes   NaN

In [ ]:
# Add 'year' column to data_2
data_2['year1']=data_3['gold']
data_2['year2']=data_3['silver']
print("Data_2 dataframe after adding years:\n",data_2)

print('------------------------------------------------------------------------------')
# Append data_3 to data_2 with ignore_index=True: combined_names
# Ignore index=True synchronize the previous indices of dataframe
combined_names=data_2.append(data_3,ignore_index=True)
combined_names

Data_2 dataframe after adding years:
      Country  cpc  drive_right Purchased   pop  year1  year2
0     France   44         True        No  10.0  200.0    0.0
1      Spain   27        False       Yes  20.0  400.0    1.0
2    Germany   30         True        No  30.0  600.0    2.0
3      Spain   38        False        No  20.0  800.0    3.0
4    Germany   40         True       Yes  30.0    0.0    4.0
5     France   35        False       Yes  10.0    NaN    NaN
6      China   52         True        No  80.0    NaN    NaN
7      India   48         True       Yes  60.0    NaN    NaN
8    America   45         True        No  40.0    NaN    NaN
9     Canada   12        False       Yes   NaN    NaN    NaN
10  Pakistan   10         True       Yes   NaN    NaN    NaN
------------------------------------------------------------------------------

     Country   cpc drive_right Purchased  ...  year2   gold  silver        date
0     France  44.0        True        No  ...    0.0    NaN     NaN         NaN
1      Spain  27.0       False       Yes  ...    1.0    NaN     NaN         NaN
2    Germany  30.0        True        No  ...    2.0    NaN     NaN         NaN
3      Spain  38.0       False        No  ...    3.0    NaN     NaN         NaN
4    Germany  40.0        True       Yes  ...    4.0    NaN     NaN         NaN
5     France  35.0       False       Yes  ...    NaN    NaN     NaN         NaN
6      China  52.0        True        No  ...    NaN    NaN     NaN         NaN
7      India  48.0        True       Yes  ...    NaN    NaN     NaN         NaN
8    America  45.0        True        No  ...    NaN    NaN     NaN         NaN
9     Canada  12.0       False       Yes  ...    NaN    NaN     NaN         NaN
10  Pakistan  10.0        True       Yes  ...    NaN    NaN     NaN         NaN
11     Qatar   NaN         NaN       NaN  ...    NaN  200.0     0.0  2014-01-01
12    Turkey   NaN         NaN       NaN  ...    NaN  400.0     1.0  2015-02-02
13     Dubai   NaN         NaN       NaN  ...    NaN  600.0     2.0  2016-03-03
14    Europe   NaN         NaN       NaN  ...    NaN  800.0     3.0  2017-04-04
15        UK   NaN         NaN       NaN  ...    NaN    0.0     4.0  3017-05-05

[16 rows x 10 columns]

In [ ]:
data_2

     Country  cpc  drive_right Purchased   pop  year1  year2
0     France   44         True        No  10.0  200.0    0.0
1      Spain   27        False       Yes  20.0  400.0    1.0
2    Germany   30         True        No  30.0  600.0    2.0
3      Spain   38        False        No  20.0  800.0    3.0
4    Germany   40         True       Yes  30.0    0.0    4.0
5     France   35        False       Yes  10.0    NaN    NaN
6      China   52         True        No  80.0    NaN    NaN
7      India   48         True       Yes  60.0    NaN    NaN
8    America   45         True        No  40.0    NaN    NaN
9     Canada   12        False       Yes   NaN    NaN    NaN
10  Pakistan   10         True       Yes   NaN    NaN    NaN

In [ ]:
# Sort the entries of data_2 (level=0):cpc_sorted
cpc_sorted=data_2.sort_index(level=0)
print('Sorted entries of data_2:\n',cpc_sorted)

print('------------------------------------------------------------------------------')
# Print the number for china and india
print("Number for China and India:\n",cpc_sorted.iloc[6:8,:])

print('------------------------------------------------------------------------------')
# Print data about Germany
print("Data about Germany:\n",cpc_sorted.iloc[2])

Sorted entries of data_2:
      Country  cpc  drive_right Purchased   pop  year1  year2
0     France   44         True        No  10.0  200.0    0.0
1      Spain   27        False       Yes  20.0  400.0    1.0
2    Germany   30         True        No  30.0  600.0    2.0
3      Spain   38        False        No  20.0  800.0    3.0
4    Germany   40         True       Yes  30.0    0.0    4.0
5     France   35        False       Yes  10.0    NaN    NaN
6      China   52         True        No  80.0    NaN    NaN
7      India   48         True       Yes  60.0    NaN    NaN
8    America   45         True        No  40.0    NaN    NaN
9     Canada   12        False       Yes   NaN    NaN    NaN
10  Pakistan   10         True       Yes   NaN    NaN    NaN
------------------------------------------------------------------------------
Number for China and India:
   Country  cpc  drive_right Purchased   pop  year1  year2
6   China   52         True        No  80.0    NaN    NaN
7   India   48         True       Yes  60.0    NaN    NaN
------------------------------------------------------------------------------
Data about Germany:
 Country        Germany
cpc                 30
drive_right       True
Purchased           No
pop                 30
year1              600
year2                2
Name: 2, dtype: object

# **Chapter-2**
#  Topic 2.3: 
You'll explore different techniques for merging,and learn about **left joins**, **right joins, inner joins, and outer joins**,as well as when to use which.
USE Book1 and Book2 files to work.

In [ ]:
import pandas as pd

# Read Book1.csv: revenue  
revenue=pd.read_csv('Book1.csv')
print("Book1.csv (Revenue):\n",revenue)

print('------------------------------------------------------------------------------')
# Read Book2.csv: managers
managers=pd.read_csv('Book2.csv')
print("Book2.csv (Managers):\n",managers)

Book1.csv (Revenue):
      city  revenue  branch_id
0  austin      100         10
1  denver       83         20
2  spring        4         30
3  mexico      200         47
------------------------------------------------------------------------------
Book2.csv (Managers):
      city managers  branch_id
0  austin      tom         10
1  denver      jon         20
2  mexico  charles         47
3  spring    jassy         31

In [ ]:
# Add column of branch in managers from managers dataframe
managers['branch']=managers['city']
managers

     city managers  branch_id  branch
0  austin      tom         10  austin
1  denver      jon         20  denver
2  mexico  charles         47  mexico
3  spring    jassy         31  spring

In [ ]:
# Merge revenue with managers on 'city': merge_by_city
# In "on" name of columns should be same.
merge_by_city = pd.merge(revenue, managers, on='city')

# Print merge_by_city
print("Join Revenue and Managers dataframe based on city:\n",merge_by_city)

print('------------------------------------------------------------------------------')
# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue, managers, on='branch_id')

# Print merge_by_id
print("Join Revenue and Managers dataframe based on branch_id:\n",merge_by_id)

Join Revenue and Managers dataframe based on city:
      city  revenue  branch_id_x managers  branch_id_y  branch
0  austin      100           10      tom           10  austin
1  denver       83           20      jon           20  denver
2  spring        4           30    jassy           31  spring
3  mexico      200           47  charles           47  mexico
------------------------------------------------------------------------------
Join Revenue and Managers dataframe based on branch_id:
    city_x  revenue  branch_id  city_y managers  branch
0  austin      100         10  austin      tom  austin
1  denver       83         20  denver      jon  denver
2  mexico      200         47  mexico  charles  mexico

In [ ]:
# Merge revenue & managers on 'city' & 'branch': combined
# In "right/left on" contents of columns should be same in data frames.
combined=pd.merge(revenue,managers,left_on='city', right_on='branch')

# Print combined
print("Merge Revenue and managers on the basis of city and branch (due to same values):\n",combined)

Merge Revenue and managers on the basis of city and branch (due to same values):
    city_x  revenue  branch_id_x  city_y managers  branch_id_y  branch
0  austin      100           10  austin      tom           10  austin
1  denver       83           20  denver      jon           20  denver
2  spring        4           30  spring    jassy           31  spring
3  mexico      200           47  mexico  charles           47  mexico

In [ ]:
# Add 'state' column to revenue: revenue['state']
revenue['state']  = ['TX','CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX','CO','CA','MO']

# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined  = revenue.merge(managers, on=['branch_id','city','state'])

# Print combined
print("Join Revenue and Managers dataframe based on branch_id , city and state:\n",combined)

Join Revenue and Managers dataframe based on branch_id , city and state:
      city  revenue  branch_id state managers  branch
0  austin      100         10    TX      tom  austin
1  denver       83         20    CO      jon  denver
2  mexico      200         47    CA  charles  mexico

![sql-joins.png]()

In [ ]:
'''
Merge revenue and sales: revenue_and_managers
right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
'''
revenue_and_managers = pd.merge(revenue, managers, how='right', on=['city','state'] )

# Print revenue_and_sales
print('Right outer join on city and state:\n',revenue_and_managers)

print('------------------------------------------------------------------------------')
'''
Merge sales and managers: managers_and revenue
left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
'''
# managers_and_revenue = pd.merge(managers, revenue, how='left', left_on=['city'], right_on=['state'])
managers_and_revenue = pd.merge(managers, revenue, how='left', on=['city','state'])

# Print managers_and revenue
print('Left outer join on city and state:\n',managers_and_revenue)

Right outer join on city and state:
      city  revenue  branch_id_x state managers  branch_id_y  branch
0  austin    100.0         10.0    TX      tom           10  austin
1  denver     83.0         20.0    CO      jon           20  denver
2  mexico    200.0         47.0    CA  charles           47  mexico
3  spring      NaN          NaN    MO    jassy           31  spring
------------------------------------------------------------------------------
Left outer join on city and state:
      city managers  branch_id_x  branch state  revenue  branch_id_y
0  austin      tom           10  austin    TX    100.0         10.0
1  denver      jon           20  denver    CO     83.0         20.0
2  mexico  charles           47  mexico    CA    200.0         47.0
3  spring    jassy           31  spring    MO      NaN          NaN

In [ ]:
print("Revenue:\n",revenue)
print('------------------------------------------------------------------------------')
print("Managers:\n",managers)

Revenue:
      city  revenue  branch_id state
0  austin      100         10    TX
1  denver       83         20    CO
2  spring        4         30    IL
3  mexico      200         47    CA
------------------------------------------------------------------------------
Managers:
      city managers  branch_id  branch state
0  austin      tom         10  austin    TX
1  denver      jon         20  denver    CO
2  mexico  charles         47  mexico    CA
3  spring    jassy         31  spring    MO

In [ ]:
'''
Merge revenue & managers on 'city', & 'state' (Full Outer join) : combined
Use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
"indicator=True" determine either both dataframe merged on merge key or any one (left, right) 
'''
combined_outer = pd.merge(revenue, managers, on=['city', 'state'], how='outer', indicator=True  , suffixes=('_left','_right'))

# Print combined
print('Full outer join:\n',combined_outer)

Full outer join:
      city  revenue  branch_id_left  ... branch_id_right  branch      _merge
0  austin    100.0            10.0  ...            10.0  austin        both
1  denver     83.0            20.0  ...            20.0  denver        both
2  spring      4.0            30.0  ...             NaN     NaN   left_only
3  mexico    200.0            47.0  ...            47.0  mexico        both
4  spring      NaN             NaN  ...            31.0  spring  right_only

[5 rows x 8 columns]

In [ ]:
print("Revenue:\n",revenue)
print('------------------------------------------------------------------------------')
print("Managers:\n",managers)

Revenue:
      city  revenue  branch_id state
0  austin      100         10    TX
1  denver       83         20    CO
2  spring        4         30    IL
3  mexico      200         47    CA
------------------------------------------------------------------------------
Managers:
      city managers  branch_id  branch state
0  austin      tom         10  austin    TX
1  denver      jon         20  denver    CO
2  mexico  charles         47  mexico    CA
3  spring    jassy         31  spring    MO

In [ ]:
# Perform the first ordered merge: tx_order
'''
pd.merge_ordered designed for ordered data like time series data. 
Also perform merge with optional filling/interpolation (fill Na values).
'''
tx_order = pd.merge_ordered(revenue, managers)

# Print tx_order
print('Merge both dataframe in ordered form:\n',tx_order)

Merge both dataframe in ordered form:
      city  revenue  branch_id state managers  branch
0  austin    100.0         10    TX      tom  austin
1  denver     83.0         20    CO      jon  denver
2  mexico    200.0         47    CA  charles  mexico
3  spring      4.0         30    IL      NaN     NaN
4  spring      NaN         31    MO    jassy  spring

In [ ]:
'''
# This is similar to a left-join except that we match on nearest key rather than equal keys. Both DataFrames must be sorted by the key.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html#pandas.merge_asof
# Merge revenue and managers
'''
revenue  = revenue.sort_values(by='branch_id')
managers = managers.sort_values(by='branch_id')
merged = pd.merge_asof(revenue, managers, on='branch_id', suffixes=('_left','_right'), direction='forward') 

# Print the tail of merged
print("Match on nearest key rather than equal keys (merge_asof):\n",merged.tail())

Match on nearest key rather than equal keys (merge_asof):
   city_left  revenue  branch_id  ... managers  branch state_right
0    austin      100         10  ...      tom  austin          TX
1    denver       83         20  ...      jon  denver          CO
2    spring        4         30  ...    jassy  spring          MO
3    mexico      200         47  ...  charles  mexico          CA

[4 rows x 8 columns]